<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!--这里给实体类取别名，方便在mapper配置文件使用-->
        <typeAlias type="com.imust.domain.Po.AgglomerationProcessRecord" alias="agglomerationProcessRecord"/>
        <typeAlias type="com.imust.domain.Po.FlourMillingProcessRecord" alias="flourMillingProcessRecord"/>
        <typeAlias type="com.imust.domain.Po.PressureRecord" alias="pressureRecord"/>
        <typeAlias type="com.imust.domain.Po.Product" alias="product"/>
        <typeAlias type="com.imust.domain.Po.Roles" alias="roles"/>
        <typeAlias type="com.imust.domain.Po.RolesPermission" alias="rolesPermission"/>
        <typeAlias type="com.imust.domain.Po.Smelt" alias="smelt"/>
        <typeAlias type="com.imust.domain.Po.SmeltingRecord" alias="smeltingRecord"/>
        <typeAlias type="com.imust.domain.Po.SpareParts" alias="spareParts"/>
        <typeAlias type="com.imust.domain.Po.Stock" alias="stock"/>
        <typeAlias type="com.imust.domain.Po.Storage" alias="storage"/>
        <typeAlias type="com.imust.domain.Po.Sales" alias="sales"/>
        <typeAlias type="com.imust.domain.Po.Users" alias="users"/>
        <typeAlias type="com.imust.domain.Po.Image" alias="image"/>
        <typeAlias type="com.imust.domain.Po.PressedProcessRecord" alias="pressedProcessRecord"/>
    </typeAliases>

    <!--映射文件路径-->
    <mappers>
        <package name="com.imust.mapper"/>
    </mappers>
</configuration>